


@model BaiTap07a.Models.NhaCungCap

@{
    ViewData["Title"] = "Delete ";
}

<h1>Delete Nhà Cung Cấp</h1>

<h3>Bạn có chắc chắn muốn xóa nhà cung cấp này?</h3>
<div>
    <h4>NhaCungCap</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />  <!-- Nút xóa -->
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>  <!-- Nút hủy xóa -->
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


