
@{
    Layout = null;
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

@model IEnumerable<ProjectA.Models.SanPham> 

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 mb-4"> <!-- Thêm margin-bottom để các hàng không bị dính nhau -->
            <div class="card" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title">@item.Price VND</h6> <!-- Đơn vị tiền tệ -->
                    <p class="card-text">@item.Description</p>
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-primary">Thêm &#10084;</a> <!-- Thêm vào yêu thích -->
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-success">Mua Hàng</a> <!-- Nút mua hàng -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
